<header class="header">
  <div class="header-left">
    <p>Mükəmməl iş imkanınızı kəşf edin! </p>
    <!-- <input type="text" placeholder="Search jobs..." /> -->
  </div>
  <div class="header-right">
    <!-- <button class="btn">Get in touch</button> -->
    <img src="../../../assets/icons/mail.svg" alt="User Avatar" />
    <img src="../../../assets/icons/notification.svg" alt="User Avatar" />
    <img src="../../../assets/icons/user.svg" alt="User Avatar" />
  </div>
</header>

<!-- <nz-header>
  <div class="header-content">
    <div class="logo">Jobbo</div>
    <input nz-input placeholder="Search jobs..." class="search-bar" />
    <button nz-button nzType="primary" class="contact-btn">Get in touch</button>
  </div>
</nz-header> -->