<aside class="sidebar">
  <div class="sidebar-header">
    <div class="sidebar-logo">
      <!-- Logo -->
      <h1>Pasha Insurance</h1>
    </div>
  </div>

  <!-- Main Menu Heading -->
  <div class="sidebar-body">
    <div class="sidebar-main-menu">
      <h2>Menyu</h2>
    </div>
    <ul>
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><img
            src="../../../assets/icons/home.svg" alt=""> Ana səhifə</a></li>
      <li><a routerLink="/jobs" routerLinkActive="active"><img src="../../../assets/icons/jobs.svg" alt="">
          Vakansiyalar</a>
      </li>
      <li><a routerLink="/contact" routerLinkActive="active"><img src="../../../assets/icons/contact.svg" alt="">
          Əlaqə</a></li>

    </ul>
  </div>

</aside>

<!-- <nz-sider [nzWidth]="220" nzTheme="light"></nz-sider>
  <ul nz-menu nzMode="inline" nzTheme="light" class="sidebar-menu">
    <li nz-menu-item nzMatchRouter><a routerLink="/">Home</a></li>
    <li nz-menu-item nzMatchRouter><a routerLink="/jobs">Jobs</a></li>
    <li nz-menu-item nzMatchRouter><a routerLink="/resume-builder">Resume Builder</a></li>
    <li nz-menu-item nzMatchRouter><a routerLink="/contact">Contact</a></li>
    <li nz-menu-item nzMatchRouter><a routerLink="/companies">Companies</a></li>
    <li nz-menu-item nzMatchRouter><a routerLink="/extension">Extension</a></li>
    <li nz-menu-item nzMatchRouter><a routerLink="/employees">Employees</a></li>
    <li nz-menu-item nzMatchRouter><a routerLink="/referrals">Referrals</a></li>
    <li nz-menu-item nzMatchRouter><a routerLink="/support-center">Support Center</a></li>
    <li nz-menu-item nzMatchRouter><a routerLink="/settings">Settings</a></li>
  </ul>
</nz-sider> -->